Liquesce/LiquesceTray/Service References/ILiquesceCallback/LiquesceFaçade.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LiquesceFaçade" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ILiquesce_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/LiquesceSvc/LiquesceFaçade/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/LiquesceSvc/LiquesceFaçade/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/LiquesceSvc/LiquesceFaçade/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LiquesceFa%C3%A7ade" />
      <xsd:import schemaLocation="http://localhost:8731/Design_Time_Addresses/LiquesceSvc/LiquesceFaçade/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILiquesce_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="ILiquesce_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="ILiquesce_get_State_InputMessage">
    <wsdl:part name="parameters" element="tns:get_State" />
  </wsdl:message>
  <wsdl:message name="ILiquesce_get_State_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_StateResponse" />
  </wsdl:message>
  <wsdl:message name="ILiquesce_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="ILiquesce_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="ILiquesce_get_ConfigDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:get_ConfigDetails" />
  </wsdl:message>
  <wsdl:message name="ILiquesce_get_ConfigDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_ConfigDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ILiquesce_set_ConfigDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:set_ConfigDetails" />
  </wsdl:message>
  <wsdl:message name="ILiquesce_Update_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ILiquesce">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Stop">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquesce/Stop" message="tns:ILiquesce_Stop_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquesce/Start" message="tns:ILiquesce_Start_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="get_State">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquesce/get_State" message="tns:ILiquesce_get_State_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiquesce/get_StateResponse" message="tns:ILiquesce_get_State_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquesce/Subscribe" message="tns:ILiquesce_Subscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquesce/Unsubscribe" message="tns:ILiquesce_Unsubscribe_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="get_ConfigDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquesce/get_ConfigDetails" message="tns:ILiquesce_get_ConfigDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiquesce/get_ConfigDetailsResponse" message="tns:ILiquesce_get_ConfigDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="set_ConfigDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiquesce/set_ConfigDetails" message="tns:ILiquesce_set_ConfigDetails_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Update">
      <wsdl:output wsaw:Action="http://tempuri.org/ILiquesce/Update" message="tns:ILiquesce_Update_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ILiquesce" type="tns:ILiquesce">
    <wsp:PolicyReference URI="#NetTcpBinding_ILiquesce_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Stop">
      <soap12:operation soapAction="http://tempuri.org/ILiquesce/Stop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://tempuri.org/ILiquesce/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="get_State">
      <soap12:operation soapAction="http://tempuri.org/ILiquesce/get_State" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/ILiquesce/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/ILiquesce/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="get_ConfigDetails">
      <soap12:operation soapAction="http://tempuri.org/ILiquesce/get_ConfigDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_ConfigDetails">
      <soap12:operation soapAction="http://tempuri.org/ILiquesce/set_ConfigDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/ILiquesce/Update" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiquesceFaçade">
    <wsdl:port name="NetTcpBinding_ILiquesce" binding="tns:NetTcpBinding_ILiquesce">
      <soap12:address location="net.tcp://localhost:41014/LiquesceFa%C3%A7ade" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:41014/LiquesceFa%C3%A7ade</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>